.DS_Store
Thumbs.db
Material/
LinkedIn Profile Rewrite*
_linkedin.html
_cv1.html
_cv2.html
assets/docs/Aditya Bayu Pratama - CV (1 Page).pdf
assets/docs/Aditya Bayu Pratama - CV (2 Pages).pdf
_cvpro1.html
_cvpro2.html
